p {
  background-color: aquamarine;
  padding: 10px;
  border: 2px dashed blue;
}

a {
  background-color: violet;
  padding: 10px;
  border: 2px solid brown;
}

ul {
  background-color: wheat;
}

input {
  background-color: yellowgreen;
}
